node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# local/runtime secrets and generated files
.env
.env.*
!.env.example
node_modules/
dist/
persisted_db.json
app-errors.log
firebase-service-account.json
